<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Hiring</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/job/list/{{ cmp }}">Your Jobs</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4 text-center">Update Job</h2>
        {% if success %}
            <div class="alert alert-success" role="alert">
                Job Updated Successfully
                <a href="/job/list/{{ cmp }}" class="btn btn-primary fixed-left-btn">Go to Job List</a>
            </div>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="company">Company Name:</label>
                    <input type="text" class="form-control" id="company" name="company" value="{{ cmp }}" readonly>
                </div>
                <div class="form-group">
                    <label for="job_title">Job Title:</label>
                    <input type="text" class="form-control" id="job_title" name="job_title" value="{{ tit }}">
                </div>
                <div class="form-group">
                    <label for="skills_required">Skills Required:</label>
                    <textarea class="form-control" id="skills_required" name="skills_required" rows="4">{{ skills }}</textarea>
                </div>
                <div class="form-group">
                    <label for="job_type">Job Type:</label>
                    <input type="text" class="form-control" id="job_type" name="job_type" value="{{ type }}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
